<form action="/login" method="POST">
  <% if (locals.error) { %>
  <p><%= error %></p>
  <% } %>
  <p>
    <label class="form-label" for="email">Email *</label><br />
    <input autocomplete="email" class="form-control" id="email" maxlength="255" name="email" required type="text" />
  </p>
  <p>
    <label class="form-label" for="password">Password *</label><br />
    <input autocomplete="current-password" class="form-control" id="password" maxlength="255" name="password" required type="password" />
  </p>
  <button class="btn" type="submit">Login</button> | <a href="/">Back</a>
</form>
