<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OldSchoolGames</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="description" content="OldSchoolGames" />
    <meta name="keywords" content="games, retro, oldschool" />
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../sidebar') %>
    <main>
      <h1>Register</h1>
      <%- include('register-form') %>
    </main>
  </body>
</html>
