<ul id="comment-list">
  <% comments.forEach((comment) => { %>
  <%- include('comment-item', { comment }) %>
  <% }); %>
</ul>

<% if (comments.length === 0) { %>
  <p id="no-comments">No comments</p>
<% } %>
