<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>OldSchoolGames</title>
<link rel="stylesheet" href="/css/style.css" />
<meta
  name="description"
  content="Explore the world of classic retro games from the MS-DOS era! Stream your favorite vintage games directly on our website and relive the nostalgia."
/>
<meta
  name="keywords"
  content="retro games, classic games, MS-DOS games, vintage games, game streaming, play old games, online retro gaming, DOSBox, old PC games, 80s games, 90s games"
/>
