<aside class="left-sidebar">
  <header>Genres</header>
  <ul>
    <li>
      <a href="/">All Genres</a>
    </li>
    <% gameGenres.map(genre => { %>
    <li>
      <% locals.class = genre.toLowerCase() === req.params.genre ? "class=active" : ""; %>
      <a <%= locals.class %> href="/<%= genre.toLowerCase() %>">
        <%= genre.charAt(0) %><%= genre.slice(1).toLowerCase() %>
      </a>
    </li>
    <% }); %>
  </ul>
</aside>
