<nav class="left-sidebar">
  <ul>
    <li>
      <a href="/">All Genres</a>
    </li>
    <% gameGenres.map(genre => { %>
    <li>
      <a href="/<%= genre.toLowerCase() %>" style="<%= genre.toLowerCase() === req.params.genre ? "text-decoration: underline" : "" %>">
        <%= genre.charAt(0) %><%= genre.slice(1).toLowerCase() %>
      </a>
    </li>
    <% }); %>
  </ul>
</nav>
