<nav class="navbar">
  <a href="/">
    <h1 style="margin: 0">OldSchoolGames</h1>
  </a>
  <ul class="navbar-actions">
    <% if (session.user) { %>
    <li>
      <a href="/logout">Logout</a>
    </li>
    <% } else { %>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/register">Register</a>
    </li>
    <% } %>
  </ul>
</nav>
