<header class="navbar">
  <nav>
    <a href="/">
      <h1 class="nowrap" style="margin: 0">
        <span style="margin-right: 10px">🕹️</span>OldSchoolGames.eu
      </h1>
    </a>
    <blockquote class="hidden-mobile line-clamp text-center" style="margin: 0">
      Play classic MS-DOS games ONLINE without ads!
    </blockquote>
    <ul class="navbar-actions">
      <li class="hidden-mobile">
        <form action="/" class="nowrap">
          <input
            maxlength="100"
            name="search"
            placeholder="Search for games..."
            type="search"
          />
          <button type="submit">Search</button>
        </form>
      </li>
      <% if (req.session.user) { %>
      <li>
        <a href="/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <nav>
    <div class="navbar-navigation">
      <a href="/">Home</a>
      <div class="dropdown">
        <span>Browse by</span>
        <ul>
          <li>
            <a href="/">Alphabetical</a>
          </li>
          <li>
            <a href="/?orderBy=createdAt&orderDir=DESC">Recently added</a>
          </li>
          <li>
            <a href="/?orderBy=release">By release years</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
