<nav class="navbar">
  <a href="/">
    <h1 style="margin: 0">OldSchoolGames.eu</h1>
  </a>
  <ul class="navbar-actions">
    <% if (req.session.user) { %>
    <li>
      <a href="/logout">Logout</a>
    </li>
    <% } %>
  </ul>
</nav>
