<aside class="right-sidebar">
  <ul>
    <li><strong>Recently added</strong></li>
    <% recentlyAddedGames.map(game => { %>
    <li>
      <a class="block text-truncate" href="/<%= game.slug %>">
        <%= game.title %>
      </a>
    </li>
    <% }); %>
    <li>
      <a href="/?orderBy=createdAt&orderDir=DESC">All...</a>
    </li>
  </ul>
</aside>
